<div class="panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Add new issue</h3>
    </div>
    <form name="addIssueForm">
        <div class="form-group">
            <label for="inputTitle">Title</label>
            <input id="inputTitle" type="text" class="form-control" ng-model="issue.Title" placeholder="Issue Title"
                   required="required">
        </div>
        <!--<div class="form-group">-->
        <!--<label for="inputAssignee">Assignee</label>-->
        <!--<select id="inputAssignee" class="form-control" ng-model="issue.AssigneeId" required="required">-->
        <!--<option ng-repeat="user in users | orderBy:'Username'" value="{{user.Id}}">{{user.Username}}</option>-->
        <!--</select>-->
        <!--</div>-->
        <div class="form-group">
            <label for="inputAssignee">Assignee</label>
            <input ng-model="issue.AssigneeName" type="text" set-user-id-from-username="issue.AssigneeId" list="users"
                   class="form-control" id="inputAssignee" placeholder="Assignee" required="required">
            <datalist id="users">
                <option ng-repeat="user in users | orderBy:'Username'" value="{{user.Username}}"></option>
            </datalist>
            <input ng-model="issue.AssigneeId" required="required" ng-hide="true">
        </div>
        <div class="form-group">
            <label for="inputProject">Project</label>
            <select id="inputProject" class="form-control" ng-model="issue.ProjectId" required="required">
                <option ng-repeat="project in projects | orderBy:'Name'" ng-selected="issue.ProjectId==project.Id"
                        value="{{project.Id}}">{{project.Name}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="inputPriority">Priority</label>
            <select project-priorities-list="{{issue.ProjectId}}" ng-model="issue.PriorityId" required="required"
                    ng-options="priority.Id as priority.Name for priority in priorities" id="inputPriority"
                    class="form-control">
            </select>
        </div>
        <div class="form-group">
            <label for="inputDueDate">Due Date</label>
            <input datepicker id="inputDueDate" type="date" class="form-control" placeholder="yyyy-mm-dd"
                   ng-model="issue.DueDate" required="required">
        </div>
        <div class="form-group">
            <label for="inputLabels">Labels (comma separated)</label>
            <input ng-model="issue.Labels" input-label-suggest-list="labels" type="text" list="labelsList"
                   class="form-control" id="inputLabels" placeholder="Labels" required="required">
            <datalist id="labelsList">
                <option ng-repeat="label in labels" value="{{ label.Name}}"></option>
            </datalist>
        </div>
        <div class="form-group">
            <label for="inputDescription">Description</label>
            <textarea id="inputDescription" class="form-control" placeholder="Description"
                      ng-model="issue.Description" required="required"></textarea>
        </div>
        <button type="submit" class="btn btn-primary center-block" ng-click="addIssue(issue)"
                ng-disabled="addIssueForm.$invalid">
            Add Issue
        </button>
    </form>
</div>