<div class="panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Edit issue</h3>
    </div>
    <form name="editIssueForm">
        <div class="form-group">
            <label for="inputTitle">Title</label>
            <input id="inputTitle" type="text" class="form-control" ng-model="issue.Title" placeholder="Issue Title"
                   required="required" ng-disabled="(!isEditPermission)">
        </div>
        <div class="form-group">
            <label for="inputAssignee">Assignee</label>
            <input ng-model="issue.Assignee.Username" type="text" set-user-id-from-username="issue.AssigneeId"
                   list="users" class="form-control" id="inputAssignee" placeholder="Assignee" required="required"
                   ng-disabled="!isEditPermission">
            <datalist id="users">
                <option ng-repeat="user in users | orderBy:'Username'" value="{{user.Username}}"></option>
            </datalist>
            <input ng-model="issue.AssigneeId" required="required" ng-hide="true">
        </div>
        <div class="form-group">
            <label for="inputProject">Project</label>
            <input ng-model="issue.Project.Name" id="inputProject" type="text" class="form-control" required="required"
                   disabled>
        </div>
        <div class="form-group">
            <label for="inputPriority">Priority</label>
            <select ng-model="issue.Priority.Id" id="inputPriority" class="form-control" ng-disabled="!isEditPermission"
                    ng-options="priority.Id as priority.Name for priority in priorities" required="required">
            </select>
        </div>
        <div class="form-group">
            <label for="inputDueDate">Due Date</label>
            <input datepicker id="inputDueDate" type="date" class="form-control" placeholder="yyyy-mm-dd"
                   ng-model="issue.DueDate" required="required" ng-disabled="!isEditPermission">
        </div>
        <div class="form-group">
            <label for="inputLabels">Labels (comma separated)</label>
            <input ng-model="issue.Labels" input-label-suggest-list="labels" type="text" list="labelsList"
                   class="form-control" id="inputLabels" placeholder="Labels" required="required"
                   ng-disabled="!isEditPermission">
            <datalist id="labelsList">
                <option ng-repeat="label in labels" value="{{ label.Name}}"></option>
            </datalist>
        </div>
        <div class="form-group">
            <label for="inputDescription">Description</label>
            <textarea id="inputDescription" class="form-control" placeholder="Description"
                      ng-model="issue.Description" required="required" ng-disabled="!isEditPermission"></textarea>
        </div>


        <div class="col-lg-10 offset-0px">
            <div class="col-lg-3 offset-0px">
                <strong>Status:</strong>
                <span>{{issue.Status.Name}}</span>
            </div>
            <div ng-if="((issue.Assignee.Id==userService.getCurrentUser().id)||(issue.LeadId==userService.getCurrentUser().id)||
                        (userService.isAdmin()))&&(issue.AvailableStatuses.length>0)"
                 class="col-lg-9">
                <div class="col-lg-3">
                    <strong>Set status to:</strong>
                </div>
                <div class="col-lg-8">
                    <button ng-repeat="status in issue.AvailableStatuses"
                            class="btn btn-sm btn-smalest btn-warning offset-10px"
                            ng-click="changeIssueStatus(status.Id)">
                        {{status.Name}}
                    </button>
                </div>
            </div>
        </div>
        <button ng-if="isEditPermission" type="submit" class="btn btn-primary" ng-click="updateIssue(issue)"
                ng-disabled="editIssueForm.$invalid">
            Save changes
        </button>
    </form>
</div>