<div ng-if="issue!=undefined" class="panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Issue details</h3>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="col-lg-2"></th>
            <th class="col-lg-10"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Title</td>
            <td>{{issue.Title}}</td>
        </tr>
        <tr>
            <td>Key</td>
            <td>{{issue.IssueKey}}</td>
        </tr>
        <tr>
            <td>Assignee</td>
            <td>{{issue.Assignee.Username}}</td>
        </tr>
        <tr>
            <td>Project</td>
            <td><a href="#/projects/{{issue.Project.Id}}">{{issue.Project.Name}}</a></td>
        </tr>
        <tr>
            <td>Priority</td>
            <td>{{issue.Priority.Name}}</td>
        </tr>
        <tr>
            <td>Due Date</td>
            <td>{{issue.DueDate|date:"dd.MM.yyyy"}}</td>
        </tr>
        <tr>
            <td>Labels</td>
            <td>{{issue.Labels|joinArrayProperty:"Name"}}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{issue.Description}}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>
                {{issue.Status.Name}}
            </td>
        </tr>
        <tr ng-if="(issue.Assignee.Id==userService.getCurrentUser().id)&&(issue.AvailableStatuses.length>0)">
            <td>Set status to:</td>
            <td>
                <button ng-repeat="status in issue.AvailableStatuses"
                        class="btn btn-sm btn-smalest btn-warning offset-10px" ng-click="changeIssueStatus(status.Id)">
                    {{status.Name}}
                </button>
            </td>
        </tr>
        <tr>
            <td>Comments</td>
            <td ng-if="comments.length>0">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th class="col-lg-4">Comment</th>
                        <th class="col-lg-4">Author</th>
                        <th class="col-lg-2">Created on</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="comment in comments">
                        <td>{{comment.Text}}</td>
                        <td>{{comment.Author.Username}}</td>
                        <td>{{comment.CreatedOn|date:"dd.MM.yyyy"}}</td>
                    </tr>

                    </tbody>
                </table>
                <div pagination ng-if="paginationIssue.maxSize>paginationIssue.pageSize"
                     ng-model="paginationIssue.startPage" items-per-page="paginationIssue.pageSize"
                     total-items="paginationIssue.maxSize" ng-change="selectIssuesToView()" max-size="9"
                     boundary-links="true">
                </div>
        </tr>
        </tbody>
    </table>
    <a href="#/issues/{{issue.Id}}/add-comment"
       ng-if="(issue.LeadId==userService.getCurrentUser().id)||(issue.Assignee.Id==userService.getCurrentUser().id)"
       class="btn btn-warning">Add comment</a>
    <a href="#/issues/{{issue.Id}}/edit"
       ng-if="(issue.LeadId==userService.getCurrentUser().id)||(issue.Assignee.Id==userService.getCurrentUser().id)||(userService.isAdmin())"
       class="btn btn-primary">Edit Issue</a>
</div>