<div ng-if="issue!=undefined" class="panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Issue details</h3>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="col-lg-2"></th>
            <th class="col-lg-10"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Title</td>
            <td>{{issue.Title}}</td>
        </tr>
        <tr>
            <td>Key</td>
            <td>{{issue.IssueKey}}</td>
        </tr>
        <tr>
            <td>Assignee</td>
            <td>{{issue.Assignee.Username}}</td>
        </tr>
        <tr>
            <td>Project</td>
            <td><a href="#/projects/{{issue.Project.Id}}">{{issue.Project.Name}}</a></td>
        </tr>
        <tr>
            <td>Priority</td>
            <td>{{issue.Priority.Name}}</td>
        </tr>
        <tr>
            <td>Due Date</td>
            <td>{{issue.DueDate|date:"dd.MM.yyyy"}}</td>
        </tr>
        <tr>
            <td>Labels</td>
            <td>{{issue.Labels|joinArrayProperty:"Name"}}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{issue.Description}}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>
                <div class="col-lg-2 offset-0px">
                    <span>{{issue.Status.Name}}</span>
                </div>
                <div ng-if="((issue.Assignee.Id==userService.getCurrentUser().id)||(issue.LeadId==userService.getCurrentUser().id))&&
                            (issue.AvailableStatuses.length>0)" class="col-lg-10">
                    <div class="col-lg-3 offset-0px">
                        <strong>Set status to:</strong>
                    </div>
                    <div class="col-lg-9">
                        <button ng-repeat="status in issue.AvailableStatuses"
                                class="btn btn-sm btn-smalest btn-warning offset-10px"
                                ng-click="changeIssueStatus(status.Id)">
                            {{status.Name}}
                        </button>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td ng-if="comments.length==0" colspan="2">No comments.</td>
            <td ng-if="comments.length>0" colspan="2">
                <div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th class="col-lg-4">Comment</th>
                            <th class="col-lg-4">Author</th>
                            <th class="col-lg-2">Created on</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="comment in comments" class="row-padding-2px">
                            <td>
                                <p class="show-content" comment="{{comment.Text}}">{{comment.Text}}</p>
                            </td>
                            <td>{{comment.Author.Username}}</td>
                            <td>{{comment.CreatedOn|date:"dd.MM.yyyy"}}</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <div pagination ng-if="paginationComments.maxSize>paginationComments.pageSize"
                     ng-model="paginationComments.startPage" items-per-page="paginationComments.pageSize"
                     total-items="paginationComments.maxSize" ng-change="selectCommentsToView()" max-size="9"
                     boundary-links="true">
                </div>
        </tr>
        </tbody>
    </table>
    <a href="#/issues/{{issue.Id}}/add-comment"
       ng-if="(issue.LeadId==userService.getCurrentUser().id)||(issue.Assignee.Id==userService.getCurrentUser().id)"
       class="btn btn-warning">Add comment</a>
    <a href="#/issues/{{issue.Id}}/edit"
       ng-if="(issue.LeadId==userService.getCurrentUser().id)||(issue.Assignee.Id==userService.getCurrentUser().id)||(userService.isAdmin())"
       class="btn btn-primary">Edit Issue</a>
</div>