body {
    width: 99%;
    margin: 0 auto;
}

.disabled-button {
    opacity: 0.5;
}

input.ng-invalid:focus {
    border: 1px solid #ac2925;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(255, 92, 93, .6);
}

input.ng-valid {
    border: 1px solid #e5e5e5;
}

input.ng-invalid-required,
input.non-valid-user,
textarea.ng-invalid-required,
select.ng-invalid-required {
    background-image: radial-gradient(red 20%, transparent 60%);
    background-size: 1em 1em;
    background-position: top left;
    background-repeat: no-repeat;
}

#isAdminCheckbox {
    padding: 10px 15px 10px 100px;
}

#isAdminCheckbox input[type="checkbox"] {
    vertical-align: -15%;
    margin-left: 10px;
}

ul.pagination {
    display: table;
    margin: 0 auto;
    font-size: 11px;
    padding: 2px;
}

.pagination > li > a,
.pagination > li > span {
    padding: 0 5px;
}

.pagination {
    vertical-align: bottom;
}

.panel-heading {
    border-bottom: 1px solid #e5e5e5;
    border-radius: 5px;
    background-color: #F9F9F9;
}

.panel-title:before {
    content: 'Issue Tracker - ';
}

.panel-title {
    margin: 10px auto;
    font-size: 24px;
    text-align: center;
}

.dashboard-panel {
    border: 1px solid #337AB7;
    width: 49.5%;
    height: 500px;
    margin: 5px 0 15px;
    border-radius: 5px;
}

.dashboard-panel-left {
    float: left;
}

.dashboard-panel-right {
    float: right;
}

.dashboard-panel-body {
    height: 80%;
}

.row-offset-30px {
    margin-top: 30px;
}

.row-offset-15px {
    margin-top: 15px;
}
.table{
    margin-bottom: 10px;
}
table>tbody>tr.row-padding-2px{
    padding-top: 1px;
    padding-bottom: 1px;
    height: 12px;
}

table>tbody>tr.row-padding-2px >td{
    padding-top: 1px;
    padding-bottom: 1px;
    height: 12px;
}


.offset-0px {
    margin-right: 0;
    padding-left: 0;
}
.offset-10px {
    margin-right: 10px;
}

.backgound-color-white {
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.btn-smalest{
    padding: 0px 5px;
}

.show-comment {
    cursor: help;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 700px;
    height: 18px;
    margin: 0;
}

.show-comment:hover{
    height: auto;
    white-space: normal;
    background-color : papayawhip;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 5px;
    margin: 0;
}