<div class="panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Add new project</h3>
    </div>

    <form name="addProjectForm">
        <div class="form-group">
            <label for="inputProjectName">Name</label>
            <input ng-model="project.name" type="text" class="form-control" id="inputProjectName"
                   set-key-from-text="project.projectKey" placeholder="Project Name" required="required">
        </div>
        <div class="form-group">
            <label for="inputLeader">Leader</label>
            <select ng-model="project.leadId" id="inputLeader" class="form-control">
                <option ng-repeat="user in users | orderBy:'Username'" value="{{user.Id}}">{{user.Username}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="inputProjectKey">Project Key</label>
            <input ng-model="project.projectKey" type="text" class="form-control" id="inputProjectKey"
                   placeholder="Project Key" required="required" disabled>
        </div>
        <div class="form-group">
            <label for="inputPriorities">Priorities (comma separated)</label>
            <input ng-model="project.priorities" type="text" class="form-control" id="inputPriorities"
                   placeholder="Available Priorities For The Issues" value="Low, Medium, Urgent">
        </div>

        <div class="form-group">
            <label for="inputLabels">Labels (comma separated)</label>
            <input ng-model="project.labels" input-label-suggest-list="labels" type="text" list="labelsList"
                   class="form-control" id="inputLabels"
                   placeholder="Labels">
            <datalist id="labelsList">
                <option ng-repeat="label in labels" value="{{ label.Name}}"></option>
            </datalist>

        </div>

        <div class="form-group">
            <label for="inputDescription">Description</label>
            <textarea ng-model="project.description" id="inputDescription" class="form-control"
                      placeholder="Description" required="required"></textarea>
        </div>

        <button type="submit" class="btn btn-success" ng-click="addProject(project)"
                ng-disabled="addProjectForm.$invalid">Add Project
        </button>
    </form>
</div>