<div class="panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Projects</h3>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="col-lg-1">Key</th>
            <th class="col-lg-12">Name</th>
            <th class="col-lg-1"></th>
            <th class="col-lg-1"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="project in projects">
            <td>{{project.ProjectKey}}</td>
            <td>{{project.Name}}</td>
            <td ng-if="project.Lead.Id==userService.getCurrentUser().id">
                <a href="#/projects/{{project.Id}}/edit"class="text-center btn btn-sm btn-primary" ng-click="">Edit</a>
            </td>
            <td ng-if="project.Lead.Id==userService.getCurrentUser().id">
                <button class="text-center btn btn-sm btn-warning" ng-click="">Add issue</button>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="#/projects/add" ng-if="userService.isAdmin()" class="btn btn-primary ">Add New Project</a>
    <div ng-if="pagination.maxSize>pagination.pageSize" pagination ng-model="pagination.startPage"
         items-per-page="pagination.pageSize" total-items="pagination.maxSize"
         ng-change="selectProjectToView()" max-size="9" boundary-links="true"></div>
</div>

