<div class=jumbotron>
    <h1>Projects</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="col-lg-1">ProjectKey</th>
            <th class="col-lg-12">Project</th>
            <th class="col-lg-1"/>
            <th class="col-lg-1"/>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="project in projects">
            <td>{{project.ProjectKey}}</td>
            <td>{{project.Name}}</td>
            <td>
                <button class="text-center btn btn-success" ng-click="">Edit</button>
            </td>
            <td>
                <button class="text-center btn btn-warning" ng-click="">Add issue</button>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="#/projects/add" ng-if="userService.isAdmin()" class="btn btn-lg btn-success">Add New Project</a>
</div>