<div class="panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Edit project</h3>
    </div>

    <form name="addProjectForm">
        <div class="form-group">
            <label for="inputProjectName">Name</label>
            <input ng-model="project.Name" type="text" class="form-control" id="inputProjectName"
                   set-key-from-text="project.ProjectKey" placeholder="Project Name" required="required">
        </div>
        <!--<div class="form-group">-->
        <!--<label for="inputLeader">Leader</label>-->
        <!--<select ng-model="project.Lead.Id" id="inputLeader" class="form-control" ng-disabled="!userService.isAdmin()">-->
        <!--<option ng-repeat="user in users | orderBy:'Username'"-->
        <!--title="{{user.Username}}"-->
        <!--ng-selected="user.Id == project.Lead.Id" value="{{user.Id}}">{{user.Username}}-->
        <!--</option>-->
        <!--</select>-->
        <!--</div>-->
        <div class="form-group">
            <label for="inputLeader">Leader</label>
            <input ng-model="project.Lead.Username" type="text" set-user-id-from-username="project.Lead.Id"
                   list="users" class="form-control" id="inputLeader" placeholder="Leader" required="required"
                   ng-disabled="!userService.isAdmin()">
            <datalist id="users">
                <option ng-repeat="user in users | orderBy:'Username'" value="{{user.Username}}"></option>
            </datalist>
            <input ng-model="project.Lead.Id" required="required" ng-hide="true">
        </div>
        <div class="form-group">
            <label for="inputProjectKey">Project Key</label>
            <input ng-model="project.ProjectKey" type="text" class="form-control" id="inputProjectKey"
                   placeholder="Project Key" required="required" disabled>
        </div>
        <div class="form-group">
            <label for="inputPriorities">Priorities (comma separated)</label>
            <input ng-model="project.Priorities" type="text" class="form-control" id="inputPriorities"
                   placeholder="Available Priorities For The Issues" value="Low, Medium, Urgent">
        </div>

        <div class="form-group">
            <label for="inputLabels">Labels (comma separated)</label>
            <input ng-model="project.Labels" input-label-suggest-list="labels" type="text" list="labelsList"
                   class="form-control" id="inputLabels"
                   placeholder="Labels">
            <datalist id="labelsList">
                <option ng-repeat="label in labels" value="{{ label.Name}}"></option>
            </datalist>

        </div>

        <div class="form-group">
            <label for="inputDescription">Description</label>
            <textarea ng-model="project.Description" id="inputDescription" class="form-control"
                      placeholder="Description" required="required"></textarea>
        </div>

        <button type="submit" class="btn btn-lg btn-primary center-block" ng-click="updateProject(project)"
                ng-disabled="addProjectForm.$invalid">Save
        </button>
    </form>
</div>