<div ng-if="project!=undefined" class="panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Project details</h3>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="col-lg-2"></th>
            <th class="col-lg-10"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Name</td>
            <td><strong>{{project.Name}}</strong></td>
        </tr>
        <tr>
            <td>Key</td>
            <td>{{project.ProjectKey}}</td>
        </tr>
        <tr>
            <td>Leader</td>
            <td>{{project.Lead.Username}}</td>
        </tr>
        <tr>
            <td>Priorities</td>
            <td>{{project.Priorities|joinArrayProperty:"Name"}}</td>
        </tr>
        <tr>
            <td>Labels</td>
            <td>{{project.Labels|joinArrayProperty:"Name"}}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{project.Description}}</td>
        </tr>
        <tr>
            <td>Issues</td>
            <td ng-if="issues.length>0">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th class="col-lg-4">Title</th>
                        <th class="col-lg-4">Assignee</th>
                        <th class="col-lg-2">Due Date</th>
                        <th class="col-lg-1">Priority</th>
                        <th class="col-lg-1">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="issue in issues">
                        <td><a href="#/issues/{{issue.Id}}">{{issue.Title}}</a></td>
                        <td>{{issue.Assignee.Username}}</td>
                        <td>{{issue.DueDate|date:"dd.MM.yyyy"}}</td>
                        <td>{{issue.Priority.Name}}</td>
                        <td>{{issue.Status.Name}}</td>
                    </tr>

                    </tbody>
                </table>
                <div pagination ng-if="paginationIssue.maxSize>paginationIssue.pageSize"
                     ng-model="paginationIssue.startPage" items-per-page="paginationIssue.pageSize"
                     total-items="paginationIssue.maxSize" ng-change="selectIssuesToView()" max-size="9"
                     boundary-links="true">
                </div>

            </td>
            <td ng-if="issues.length==0">No issues</td>
        </tr>
        </tbody>
    </table>
    <a ng-if="project.Lead.Id==userService.getCurrentUser().id" href="#/projects/{{project.Id}}/add-issue"
       class="btn btn-warning" ng-click="">Add issue</a>
    <a href="#/projects/add" ng-if="userService.isAdmin()" class="btn btn-warning">Add New Project</a>
    <a href="#/projects/{{project.Id}}/edit" ng-if="userService.isAdmin()||userService.getCurrentUser().id==project.Lead.Id" class="btn btn-primary">Edit Project</a>
</div>