<div class="panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Change user password</h3>
    </div>
    <form name="changePasswordForm" class="form-horizontal col-lg-6 col-lg-offset-3 row-offset">

            <div class="form-group">
                <label for="inputOldPassword" class="col-lg-4 control-label">Old password</label>

                <div class="col-lg-8">
                    <input class="form-control" id="inputOldPassword" ng-model="userData.oldPassword"
                           placeholder="Old password"
                           minlength="6" maxlength="100" type="password" required="required">
                </div>
            </div>

            <div class="form-group">
                <label for="inputNewPassword" class="col-lg-4 control-label">New password</label>

                <div class="col-lg-8">
                    <input class="form-control" id="inputNewPassword" ng-model="userData.newPassword"
                           placeholder="New password"
                           minlength="6" maxlength="100" type="password" required="required">
                </div>
            </div>

            <div class="form-group">
                <label for="inputConformPassword" class="col-lg-4 control-label">Confirm password</label>

                <div class="col-lg-8">
                    <input class="form-control" id="inputConformPassword" ng-model="userData.confirmPassword"
                           placeholder="Confirm password" type="password" required="required">
                </div>
            </div>


            <div class="form-group">
                <div class="col-lg-8 col-lg-offset-4">
                    <a href="#/" class="btn btn-default">Cancel</a>
                    <button type="button" class="btn btn-primary" ng-click="changePassword(userData)"
                            ng-disabled=" changePasswordForm.$invalid || userData.newPassword!=userData.confirmPassword ">
                        Save changes
                    </button>
                </div>
            </div>
    </form>
</div>