<form name="editProfileForm" class="form-horizontal col-lg-5 col-lg-offset-2">
    <fieldset class="text-center">
        <legend>Edit user profile</legend>

        <div class="form-group">
            <label for="inputName" class="col-lg-4 control-label">Name</label>

            <div class="col-lg-8">
                <input class="form-control" id="inputName" ng-model="userData.name" placeholder="Name" type="text"
                       required="required">
            </div>
        </div>

        <div class="form-group">
            <label for="inputEmail" class="col-lg-4 control-label">E-mail</label>

            <div class="col-lg-8">
                <input class="form-control" ng-model="userData.email" id="inputEmail" placeholder="E-mail"
                       type="email" required="required">
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-4 control-label">Gender</label>

            <div class="col-lg-8">
                <div class="radio-inline">
                    <label>
                        <input name="optionsRadios" ng-model="userData.gender" value="1" type="radio">
                        Male
                    </label>
                </div>
                <div class="radio-inline">
                    <label>
                        <input name="optionsRadios" ng-model="userData.gender" value="2" type="radio">
                        Female
                    </label>
                </div>
                <div class="radio-inline">
                    <label>
                        <input name="optionsRadios" ng-model="userData.gender" value="0" type="radio">
                        Other
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="inputProfileImage" class="col-lg-4 control-label">Profile Picture</label>

            <div class="col-lg-1">
                <span class="btn btn-primary btn-file">
                    Browse <input type="file" image-data-model="userData.profileImageData" id="inputProfileImage">
                </span>
            </div>

            <div class="col-lg-3 col-lg-offset-2">
                <img class="edit-profile-img" data-ng-src="{{userData.profileImageData}}" alt="no image">
            </div>
        </div>

        <div class="form-group">
            <label for="inputCoverImage" class="col-lg-4 control-label">Cover Picture</label>

            <div class="col-lg-1">
                <span class="btn btn-primary btn-file">
                    Browse <input type="file" image-data-model="userData.coverImageData" id="inputCoverImage">
                </span>
            </div>

            <div class="col-lg-3 col-lg-offset-2">
                <img class="edit-profile-img" data-ng-src="{{userData.coverImageData}}" alt="no image">
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-lg-8 col-lg-offset-4">
                <a href="#/" class="btn btn-default">Cancel</a>
                <button type="button" class="btn btn-primary" ng-click="editProfile(userData)"
                        ng-disabled="editProfileForm.$invalid">
                    Save changes
                </button>
            </div>
        </div>
    </fieldset>
</form>