<form name="loginForm" class="form-horizontal col-lg-5 col-lg-offset-4">
    <fieldset class="text-center">
        <legend>User login</legend>

        <div class="form-group">
            <label for="inputUsername" class="col-lg-4 control-label">Username</label>

            <div class="col-lg-8">
                <input class="form-control" id="inputUsername" ng-model="user.username" placeholder="Username"
                       type="text" required="required">
            </div>
        </div>

        <div class="form-group">
            <label for="inputPassword" class="col-lg-4 control-label">Password</label>

            <div class="col-lg-8">
                <input class="form-control" id="inputPassword" ng-model="user.password" placeholder="Password"
                       minlength="6" maxlength="100" type="password" required="required">
            </div>
        </div>

            <div id="isAdminCheckbox">
                <label>Admin Authorization</label>

                <input class="" type="checkbox" ng-set-admin-authorization>
            </div>

        <div class="form-group">
            <div class="col-lg-8 col-lg-offset-4">
                <button ng-click="toRegister()" type="button" class="btn btn-default">Go to Register</button>
                <button type="button" class="btn btn-primary" ng-click="login(user)"
                        ng-disabled="loginForm.$invalid">Login
                </button>
            </div>
        </div>
    </fieldset>
</form>