<form name="registrationForm" class="form-horizontal col-lg-5 col-lg-offset-5 row-offset-30px set-backgound">
    <fieldset class="text-center">
        <div class="panel-heading row-offset-15px">
            <h3 class="panel-title">User registration</h3>
        </div>

        <div class="form-group row-offset-30px">
            <label for="inputEmail" class="col-lg-4 control-label">E-mail</label>

            <div class="col-lg-8">
                <input class="form-control" ng-model="user.email" id="inputEmail" placeholder="E-mail"
                       type="email" required="required">
            </div>
        </div>

        <div class="form-group">
            <label for="inputPassword" class="col-lg-4 control-label">Password</label>

            <div class="col-lg-8">
                <input class="form-control" id="inputPassword" ng-model="user.password" placeholder="Password"
                       minlength="6" maxlength="100" type="password" required="required">
            </div>
        </div>

        <div class="form-group">
            <label for="inputConformPassword" class="col-lg-4 control-label">Confirm password</label>

            <div class="col-lg-8">
                <input class="form-control" id="inputConformPassword" ng-model="user.confirmPassword"
                       placeholder="Confirm password" type="password" required="required">
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-8 col-lg-offset-2">
                <button ng-click="toLogin()" type="button" class="btn btn-default">Go to Login</button>
                <button type="button" class="btn btn-primary" ng-click="register(user)"
                        ng-disabled="registrationForm.$invalid || user.password!=user.confirmPassword">Register
                </button>
            </div>
        </div>
    </fieldset>
</form>