<div class="panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Dashboard</h3>
    </div>
    <div class="dashboard-panel dashboard-panel-left">
        <div class="panel-heading">
            <h4>Issues</h4>
        </div>
        <div class="dashboard-panel-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <td>Title</td>
                    <td>Project</td>
                    <td>Due Date</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="issue in issues">
                    <td><a href="#/issues/{{issue.Id}}">{{issue.Title}}</a></td>
                    <td>{{issue.Project.Name|keyFromText}}</td>
                    <td>{{issue.DueDate|date:"dd.MM.yyyy"}}</td>
                </tr>

                </tbody>
            </table>
        </div>
        <div pagination ng-if="paginationIssue.maxSize>paginationIssue.pageSize" ng-model="paginationIssue.startPage"
             items-per-page="paginationIssue.pageSize" total-items="paginationIssue.maxSize"
             ng-change="selectIssuesToView()" max-size="9" boundary-links="true"></div>
    </div>
    <div class="dashboard-panel dashboard-panel-right">
        <div class="panel-heading">
            <h4>Projects</h4>
        </div>
        <div class="dashboard-panel-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <td>Key</td>
                    <td>Name</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="project in projects">
                    <td>{{project.ProjectKey}}</td>
                    <td><a href="#/projects/{{project.Id}}">{{project.Name}}</a></td>
                </tr>

                </tbody>
            </table>
        </div>
        <div pagination ng-if="paginationProjects.maxSize>paginationProjects.pageSize"
             ng-model="paginationProjects.startPage"
             items-per-page="paginationProjects.pageSize" total-items="paginationProjects.maxSize"
             ng-change="selectProjectToView()" max-size="9" boundary-links="true"></div>
    </div>
    <div>
        <a href="#/projects/add" ng-if="userService.isAdmin()" class="btn btn-warning col-lg-offset-8">Add New
            Project</a>
        <a href="#/projects" ng-if="userService.isAdmin()" class="btn btn-primary">List All Projects</a>
    </div>
</div>