<div class=jumbotron>
    <h1>Dashboard</h1>
    <div class="col-lg-6">
        <table class="table table-striped">
            <thead>
            <tr>
                <td>Issue</td>
                <td>Project</td>
                <td>Due Date</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Bad Request has no message describing the problem</td>
                <td>SIT</td>
                <td>28/03/2016</td>
            </tr>

            </tbody>
        </table>
    </div>
    <div  class="col-lg-6">
        <table class="table table-striped">
            <thead>
            <tr>
                <td>Project</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="project in projects|filter:{Lead:{Id:userService.getCurrentUser().id}}">
                <td>{{project.ProjectKey}}</td>
                <td><a href="#/projects/{{project.Id}}">{{project.Name}}</a></td>
            </tr>

            </tbody>
        </table>
    </div>
    <a href="#/projects/add" ng-if="userService.isAdmin()" class="btn btn-lg btn-success">Add New Project</a>
    <a href="#/projects" ng-if="userService.isAdmin()" class="btn btn-lg btn-success">List All Projects</a>
</div>